services:
  - type: web
    name: materi-backend
    env: node
    region: oregon
    plan: free
    rootDir: materi-backend
    buildCommand: npm ci && npx prisma generate
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        sync: false
      - key: DIRECT_URL
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: JWT_EXPIRES_IN
        value: 7d
      - key: LOG_LEVEL
        value: info
      - key: PORT
        value: 4000
      - key: CORS_ORIGIN
        value: https://materi-app-eight.vercel.app
